# 1. Thư mục phụ thuộc (Tuyệt đối không push lên Git)
node_modules/
.pnpm-store/

# 2. Thư mục Build output của các App
dist/
build/
.next/

# 3. Cache của Turborepo và Vite
.turbo/
.vite/

# 4. Logs hệ thống
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 5. Các file cấu hình môi trường bảo mật (Chứa mật khẩu, API key)
.env
.env.local
.env.development.local
.env.production.local

# 6. File rác của hệ điều hành và IDE (IntelliJ, VSCode)
.DS_Store
Thumbs.db
.idea/workspace.xml
.idea/shelf/
.vscode/